.dropdown {
  position: absolute;
  top: 58px;
  width: 250px;
  transform: translateX(-75%);
  background-color: var(--secondary);
  box-shadow: 0px 1px 5px var(--shadow);
  border-radius: 10px;
  padding: 1rem;
  overflow: hidden;
  transition: height 500ms ease;
  user-select: none;
  cursor: default;
  max-height: calc(80vh - 70px);

  a {
    text-decoration: none;
    color: var(--text);
  }

  .menu {
    display: grid;
    row-gap: 10px;
    justify-items: center;
    max-height: calc(80vh - 70px);
  }

  .menu-item {
    height: 50px;
    display: flex;
    width: 100%;
    align-items: center;
    border-radius: 5px;
    transition: background 500ms;
    padding: 5px;
    justify-content: center;
    cursor: pointer;

    &:hover {
      background-color: var(--hover);
    }

    .icon-button {
      background-color: var(--sidebar-border);
      display: grid;
      margin-right: 20px;
      place-items: center;
      width: min-content;
      height: min-content;
      padding: 10px;
      border-radius: 15px;
      transition: filter 300ms;

      svg {
        width: 18px;
        height: 18px;
        fill: var(--sidebar-text);
        opacity: 1;
      }
    }

    .icon-right {
      margin-left: auto;
    }
  }

  .menu-route {
    display: grid;
    grid-auto-flow: column;
    width: 100%;
    color: var(--sidebar-text);
    div {
      background-color: var(--sidebar-border);
      display: grid;
      place-items: center;
      width: min-content;
      height: min-content;
      padding: 10px;
      border-radius: 15px;
      svg {
        opacity: 1;
        fill: var(--sidebar-text);
        width: 18px;
        height: 18px;
      }
    }

    a {
      font-size: small;
      color: inherit;
      text-decoration: none;
      font-weight: 400;
      display: grid;
      grid-template-columns: 50px 1fr;
      padding: 15px 10px;
      column-gap: 15px;
      align-items: center;
      cursor: pointer;
      border-radius: 10px;
      transition: 0.2s;
      &:hover,
      &:focus {
        background-color: var(--hover);
        outline: none;
      }
    }

    &.active {
      color: var(--hightlight);
      div {
        background-color: var(--hightlight);
        svg {
          fill: white;
        }
      }
    }
  }

  .menu-primary-enter {
    position: absolute;
    transform: translateX(-110%);
  }

  .menu-primary-enter-active {
    transform: translateX(0%);
    transition: all 500ms ease;
  }

  .menu-primary-exit {
    position: absolute;
  }

  .menu-primary-exit-active {
    transform: translateX(-110%);
    transition: all 500ms ease;
  }

  //secondary menu

  .menu-secondary-enter {
    position: absolute;
    transform: translateX(110%);
  }

  .menu-secondary-enter-active {
    transform: translateX(0%);
    transition: all 500ms ease;
  }

  .menu-secondary-enter-done {
    overflow-y: auto;
    overflow-x: hidden;
  }

  .menu-secondary-exit {
  }

  .menu-secondary-exit-active {
    transform: translateX(110%);
    transition: all 500ms ease;
  }
}
