.account {
  grid-column: 3;

  .account-button {
    color: var(--text);
    text-decoration: none;
    width: fit-content;
    height: min-content;
    display: grid;

    column-gap: 12px;
    grid-auto-flow: column;
    align-items: center;
    cursor: pointer;
    user-select: none;
    padding: 5px 10px;
    border-radius: 10px;
    transition: 0.2s;

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }

    p {
      margin: 0px;
      padding: 0px;
      font-size: smaller;
      font-weight: 400;
    }

    svg {
      fill: var(--sidebar-text);
      opacity: 0.6;
      width: 18px;
      height: 18px;
    }

    &:hover,
    &:focus {
      background-color: var(--hover);
    }
  }
}
