.theme-picker {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  width: fit-content;
  align-items: center;
  font-weight: 600;
  column-gap: 10px;
  user-select: none;
  color: var(--sidebar-text);
}
