.theme-picker {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  width: 250px;
  align-items: center;

  column-gap: 10px;
  user-select: none;
  color: var(--sidebar-text);

  span {
    font-weight: 600;
    font-size: x-small;
  }
}
