body {
  margin: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--main);
  color: var(--text);

  background-size: 400%;
  background-repeat: no-repeat;

  position: relative;
  overflow: hidden;

  &::after {
    pointer-events: none;
    display: block;
    content: "";
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;

    opacity: 0.2;
  }
}

//Used to store global color scheme.

html {
  --main: #f5fcfd;
  --secondary: #ffff;
  --hover: #e0d8d8;
  --text: #1a202e;
  --highlight: #10b8a1;
  --highlight-hover: #11dabf;
  --highlight-light: rgba(16, 184, 161, 0.5);
  --sidebar-text: #1a202e;
  --sidebar-border: rgba(161, 166, 175, 0.3);
  --shadow: rgba(42, 41, 41, 0.507);
  --red: #ef476f;
  --red-hover: #f0567a;

  &[data-theme="dark"] {
    --main: #141925; //#1f1d2b was the original
    --secondary: #252836;
    --hover: #363341;
    --text: white;
    --highlight: #10b8a1;
    --highlight-hover: #11dabf;
    --highlight-light: rgba(16, 184, 161, 0.5);
    --sidebar-text: #808191;
    --sidebar-border: rgba(128, 129, 145, 0.3);
    --shadow: rgba(26, 25, 25, 0.507);
    --red: #ef476f;
    --red-hover: #ff5c82;
  }

  &.transition,
  &.transition *,
  &.transition *:after,
  &.transition:before {
    transition: all 100ms !important;
    transition-delay: 0 !important;
  }
}

::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

/* Track */

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-clip: padding-box;
  border: none;
  background: var(--sidebar-text);
}
